{% extends "inicio/encabezado.html" %}
{% load static %}

{% block titulo %}PRINCIPAL{% endblock %}

{% block imagen %}
    {% static 'inicio/img/home.png' %}
{% endblock %}

{% block span %}
    Principal
{% endblock %}

{% block contenido %}

<div class="page-header">
    <div class="page-title">
        <h3>Alumnos <small>Lista de Alumnos</small></h3>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Carrera</th>
            <th>Turno</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">
                <img src="{% static 'inicio/img/home.png' %}" class="img-media">
            </td>
            <td class="text-semibold">UTM231030TI</td>
            <td class="muted">Fredy</td>
            <td class="muted">Tic</td>
            <td class="muted">Matutino</td>
        </tr>
    </tbody>
</table>

{% endblock %}