{% extends "inicio/encabezado.html" %}
{% load static %}
{% block titulo %}PRINCIPAL{% endblock %}

{% block imagen_tag %}
<img src="{% static 'inicio/img/home.png' %}" alt="Usuario">
{% endblock %}

{% block span %}Principal{% endblock %}

{% block encabezado %}
<div class="page-header">
    <div class="page-title">
        <h3>Principal <small>Lista de Alumnos</small></h3>
    </div>
</div>
{% endblock %}

{% block contenido %}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Carrera</th>
            <th>Turno</th>
        </tr>
    </thead>
    <tbody>
        {% for alumno in alumnos %}
        <tr>
            <td class="text-center">
                <img src="{{ alumno.imagen.url }}" alt="" class="img-media">
            </td>
            <td class="text-semibold">{{ alumno.matricula }}</td>
            <td class="muted">{{ alumno.nombre }}</td>
            <td class="muted">{{ alumno.carrera }}</td>
            <td class="muted">{{ alumno.turno }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}